body *
{
    margin: 0;
    padding: 0;
    
}
.header
{
    display: flex;
    text-align: center;
    line-height: 70px;
    word-spacing: 15px;
    background-color: aqua;
}
.logo
{
    height: 70px;
    width: 15%;
}
.link
{
    height: 70px;
    width: 70%;
    padding-left: 50%;
   
}
.menu
{
    display: inline;
    padding: 28px 10px;
}
.submenu
{
    display: none;
    width: 150px;
    position: absolute;
    top: 72px;
    left: 0;
}
.menu1
{
    position: relative;
}

.menu1:hover .submenu
{
    display: block;

    width: 150px;
    line-height: 50px;
    background-color: antiquewhite;

}
.dropdown2
{
    position: relative;
}
.submenu1
{
    display: none;
    width: 120px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: antiquewhite;
}
.dropdown2:hover .submenu1
{
    display: block;
}
button
{
    height: 20px;
    width: 80px;
    
}
.login{
    border: 1px solid red;
    background-color: aliceblue;
  
}
.i
{
    width: 20%;
    font-size: 30px;
    display: none;
}
@media(max-width:800px)
{
    .link
    {
        line-height: 0;
    }
    .menu
    {
        display: block;
        width: 150px;
    }
    .submenu
    {
        position: absolute;
        top: 0;
        left: 100%;
    }
}